// See reference: https://docs.microsoft.com/en-us/windows/win32/menurc/versioninfo-resource

sqlcwIcon ICON "sqlcw.ico"

#include "build_info.h"

1 VERSIONINFO
FILEVERSION     BUILD_FILEVERSION_RC
//PRODUCTVERSION  BUILD_VERSION_MAJOR,BUILD_VERSION_MINOR,BUILD_VERSION_PATCH,0
{
  BLOCK "StringFileInfo" // Information dependent on a particular language and code page
  {
    BLOCK "000904E4"
    {
      //VALUE "CompanyName", "Company Name"
      VALUE "FileDescription", "SQL Code Wrapper command-line executable"
      //VALUE "FileVersion", BUILD_VERSION_STR
      VALUE "InternalName", "sqlcw"
      VALUE "LegalCopyright", "MIT License"
      VALUE "OriginalFilename", "sqlcw.exe"
      VALUE "ProductName", "SQL Code Wrapper"
      VALUE "ProductVersion", BUILD_VERSION_STR
    }
  }
  BLOCK "VarFileInfo" // Information NOT dependent on a particular language and code page
  {
    VALUE "Translation", 0x0009, 0x04E4 // English with 0x04E4/Windows-1252 character set
  }
}
